 /*
  * BREAKPOINTS - 'size label': (min, max)
  */
$breakpoints: (
  '':   (false, 956px),
  'lg':  (960px, false)
);
$container-max-width: 1440px;

/*
 * COLORS
 */
$colors: (
 foreground: #1a1a1d, // .btn hover / .btn-outline rely on this
 background: #fff,    // .btn label color
 black: #000,
 white: #fff,
 primary: #824F2D,
 brownish: #DCC8AC
);
$heading-font: Poppins,Helvetica,Arial,sans-serif;
$paragraph-font: 'DM Sans', Helvetica, Arial, sans-serif;
